$bg-color: #FFFFFF;
$headerBgColor: #304156;
$headerHeight: 52px;
$asideBgColor: #304156;
$asideSubBgColor: #1f2d3d;
$mainBgColor: #f0f2f5;

.lx-container{
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  min-width: 0;
  overflow: hidden;
}

.lx-container.lx-vertical{
  flex-direction: column;
}
.lx-container.lx-full{
  height: 100vh;
}
.lx-header, .lx-footer{
  background-color: $headerBgColor;
}
.lx-header{
  padding: 15px;
  height: $headerHeight;
  box-sizing: border-box;
  flex-shrink: 0;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.44);
  z-index: 60;
  display: flex;
  justify-content: space-between;
  a{
    color: #333;
    text-decoration: none;
  }
  .logo{
    margin: -5px;
    background: #1e2d3d;
    color: #fff;
    line-height: 32px;
    padding: 0px 48px;
    border-radius: 26px;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    font-weight: 300;
  }
}
.lx-main{
  overflow: auto;
  box-sizing: border-box;
  background-color: $mainBgColor;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  // padding: 15px;
  position: relative;
}
.lx-aside{
  background-color: $asideBgColor;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}
.lx-menu{
  flex: 1;
  width: 200px;
  transition: width 0.4s;
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }
  .el-menu{
    border-right: none;
  }
  .el-submenu .fa {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
  }
}
.lx-status{
  background: #1f2d3d;
  color: #a9a9a9;
  font-size: 12px;
  text-align: right;
  cursor: pointer;
  margin-top: 1px;
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  a{
    color: #a9a9a9;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 15px;
  }
}
.collapsed{
  .lx-menu{
    width: 44px;
    .el-tooltip {
      padding: 10px !important;
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      width: 44px;
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .lx-status{
    .lx-workbench{
      display: none;
    }
  }
}
.lx-breadcrumb{
  padding: 15px;
  height: 16px;
  line-height: 16px;
}
.lx-menu-ctrl{
  display: block;
  float: left;
  color: #555;
  position: relative;
  top: -1px;
  margin-right: 10px;
  text-decoration: none;
}
.lx-common-view{
  position: fixed;
  z-index: 51;
  top: $headerHeight;
  left: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(238, 238, 238, 0.96);
}
@media screen and (max-width:480px) {
  .lx-header .logo{
    padding: 0px 10px;
    font-size: 12px;
  }
  .lx-status{

  }
}